body {
    padding-bottom: 20px;
    background-color: #DDD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    border: 1px solid #CCC;
    box-shadow: 6px 6px 9px 1px rgba(205, 205, 205, 1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px;
}

.container {
    border-radius: 10px;
}

.post-container {
    width: 85%;
    margin: 0 auto;
    text-align: justify;
    background-color: whitesmoke;
}

.post-body {
    margin: 0 auto;
}

.user-comment {
    border: 1px solid #CCC;
    padding: 5px;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 200px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    border: 1px solid #F2F2F2;
}
